<ion-header>
  <ion-toolbar color="main" class="dark">
    <ion-buttons slot="start">
      <ion-menu-button class="text-light">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="text-light">جواب‌ها</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="ltr" class="main-background" color="main">
  <ion-text style="text-align: center; ">
    <h1 color="main" class="text-light">پاسخ‌ها</h1>
  </ion-text>

  <pre color="main" class="text-light">{{ answer | json }}</pre>
</ion-content>
