<ion-header>
  <ion-toolbar color="main" class="dark">
    <ion-buttons slot="start">
      <ion-menu-button class="text-light">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="text-light">مشاهده‌ی فرم</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl" class="main-background" color="main">
  <ion-text style="text-align: center; ">
    <h2 class=" text-dark">
      <b>برای مشاهده‌ی این فرم لطفا به سایت مراجعه کنید</b>
    </h2>
  </ion-text>
</ion-content>
