<ion-menu contentId="content" type="overlay" side="end">
  <ion-header dir="rtl">
    <ion-toolbar color="main" class=" dark2">
      <ion-title> <span color="main" class="text-light">منو</span></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="main" class="dark" dir="rtl">
    <div *ngFor="let p of pages">
      <ion-menu-toggle *ngIf="p.url &&p.url!='/'">
        <ion-item
          [routerLink]="p.url"
          routerDirection="root"
          routerLinkActive="active"
          color="main"
          class="dark text-light"
        >
          <ion-icon [name]="p.icon" slot="start"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle *ngIf="p.url &&p.url=='/'">
        <ion-button (click)="logout()" color="main" class="dark text-light">
          <ion-icon
            [name]="p.icon"
            slot="start"
            style="margin-right: 1px;"
          ></ion-icon>
          <ion-label style="margin-right: 25px;">
            {{p.title}}
          </ion-label>
        </ion-button>
      </ion-menu-toggle>
    </div>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>
<!-- ionic cordova platform add android -->
<!-- adb devices -->
<!-- ionic cordova run android -->
