<ion-header>
  <ion-toolbar color="main" class="dark">
    <ion-buttons slot="start">
      <ion-menu-button class="text-light">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="text-light">پر کردن فرم</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl" class="main-background" color="main">
  <ion-text style="text-align: center; ">
    <h2 class=" text-dark"><b>نام فرم :</b><span>{{' '+formTitle}}</span></h2>
  </ion-text>
  <div *ngFor="let item of form">
    <h3 class=" text-light" style="text-align: center; ">{{item.title}}</h3>
    <ion-input
      *ngIf="item.type==='Text'&&item.hasOptions!==true"
      [(ngModel)]="password"
      class="light text-dark"
      style="margin-left: auto;margin-right: auto; width: 90%;display: block;"
    ></ion-input>
    <ion-input
      *ngIf="item.type==='Number'&&item.hasOptions!==true"
      [(ngModel)]="password"
      type="number"
      class="light text-dark"
      style="margin-left: auto;margin-right: auto; width: 90%;display: block;"
    ></ion-input>
    <app-map
      *ngIf="item.type==='Location'&&item.hasOptions!==true"
      style="margin-left: auto;margin-right: auto; width: 90%;display: block;"
    ></app-map>

    <ion-datetime
      displayFormat="MM DD YY"
      *ngIf="item.type==='Date'&&item.hasOptions!==true"
      [(ngModel)]="password"
      class="light text-dark"
      style="margin-left: auto;margin-right: auto; width: 90%;display: block;"
    ></ion-datetime>

    <ion-select
      *ngIf="item.hasOptions===true"
      class="light text-dark"
      style="margin-left: auto;margin-right: auto; width: 90%;display: block;"
    >
      <ion-select-option *ngFor="let item2 of item.options" value="item2.value"
        >{{item2.label}}</ion-select-option
      >
    </ion-select>
  </div>
  <ion-button
    color="main"
    class="dark"
    expand="block"
    style="margin-top: 40px;margin-bottom: 100px; margin-left: auto;margin-right: auto; width:60%;"
    >ارسال</ion-button
  >
</ion-content>
